@import url("http://fonts.cdnfonts.com/css/menlo");

:root {
    --bg: #ffe697;
    --pink: #faf;
    --cool: #f0f3;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: "Menlo", monospace;
    font-weight: bold;
    /* background-image: linear-gradient(to left, hotpink, lightpink); */
    background: var(--pink);
}

.p5Canvas {
    z-index: 100;
    border: 1px solid #000;
    filter: drop-shadow(0 0 20px #f0f7) saturate(1.1) brightness(1.1);
    overflow: hidden;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    outline: none;
}

#changeImg {
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid #0000;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-size: 1.1em;
    height: 1em;
    padding: 1em 1em 2em 1em;
    margin-left: 3em;
}

#changeImg:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 20px #f0f);
}

button:focus {
    transform: scale(0.9);
}

h1 {
    color: black;
    text-align: center;
    font-size: 1.5em;
}

p {
    text-align: center;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--cool);
    border: 2px solid var(--pink);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cool);
    border: 2px solid var(--pink);
}

/* text selection */
::-moz-selection {
    background-color: var(--pink);
}

::selection {
    background-color: var(--pink);
}
