@font-face {
    font-family: "AUTHENTIC Sans";
    src: url("https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FAUTHENTICSans-90.woff2?v=1595102445095") format("woff2"),
        url("https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FAUTHENTICSans-90.woff?v=1595102445203") format("woff"),
        url("https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FAUTHENTICSans-90.otf?v=1595102498458") format("otf");
}

:root {
    --pink: #f0a9b9;
    --bg: #ffc0cb;
    --highlight: #bfe6f4;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Authentic Sans', Helvetica, arial;
    /* background-image: linear-gradient(to left, hotpink, lightpink); */
    background: var(--bg);
}

#myCanvas {
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.canvas-item {
    z-index: 5;
    flex: 0 1 500px;
    height: 400px;
    margin: 10px;
    border: 2px dashed black;
    background: var(--pink);
    font-size: 2rem;
    text-align: center;
}


h1 {
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 1.75em;
}

p {
    text-align: center;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--highlight);
    border: 2px solid var(--pink);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--highlight);
    border: 2px solid var(--pink);
}

/* text selection */
::-moz-selection {
    background-color: var(--highlight);
}

::selection {
    background-color: var(--highlight);
}